
body{

    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url("images/U1c.gif");
    color: white;
    text-align: center;
    background-attachment: fixed;

}
#linkedin:visited{
    color: lime;    
}

#linkedin:link{
    color: lime;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

#matrix{
    visibility: hidden;
  }
 
#clean{
    visibility: visible;
  }


#view{
justify-content: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: rgb(0, 255, 34); }
  }  

.paper{
    padding: 20px;
    margin: 0 auto;
    width: 850px;
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.goals {
    display: inline-block;
}

h3{
    color: rgb(79, 236, 0);
    border-bottom: 2px dotted;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    animation: 
    typing 3s steps(60, end) forwards;
}

.skills{
    display: inline-block;
    float: right;
}

.education{
    display: inline-block;
    float: left;
}

p{
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
}

.resumename{
    color: lawngreen;
    float: left;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 30px;
    width: 350px;
    
}

.contact{
    font-size: large;
    padding-top: 50px;
    float: right;
    display: inline-block;
    text-align: left;


}


.blurb{
    padding: 0%;
    display: inline-block;
    text-align: left;
}

h4{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 6px;
    padding-bottom: 2px;
}

h5{
    margin: 1px;
    padding-bottom: 0;
    font-style: italic;
}

ul{
    margin: 3px;
    padding: 3px;
}

li{
    padding-bottom: 3px;
}

#obj{
    display: inherit;
}