
body{
    color: rgb(0, 0, 0);
    text-align: center;

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

#matrix{
    visibility: visible;
  }
 
#clean{
    visibility: hidden;
  }

#view{
    justify-content: center;
}

button { 
    background-color: lime;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
  }

button:hover{
    background-color: darkgreen;
    color: white;
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: maroon; }
  }  

.paper{
    padding: 20px;
    margin: 0 auto;
    width: 850px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: dotted 2px maroon;
}

.goals {
    display: inline-block;
}

h3{
    color: maroon;
    border-bottom: 2px dotted;
}

.skills{
    display: inline-block;
    float: right;
}

.education{
    display: inline-block;
    float: left;
}

p{
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
}

.resumename{
    color: maroon;
    float: left;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 30px;
    width: 350px;
    
}

.contact{
    font-size: large;
    padding-top: 50px;
    float: right;
    display: inline-block;
    text-align: left;


}


.blurb{
    padding: 0%;
    display: inline-block;
    text-align: left;
}

h4{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 6px;
    padding-bottom: 2px;
}

h5{
    margin: 1px;
    padding-bottom: 0;
    font-style: italic;
}

ul{
    margin: 3px;
    padding: 3px;
}

li{
    padding-bottom: 3px;
}

#obj{
    display: inherit;
}