
body{
    text-align: center;
    margin: 0 auto;
    width: 850px;
    outline: solid maroon thin;
}


h3{
    text-align: left;
    padding: 0;
    border-bottom: 2px dotted maroon;
}

p{
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
}

.resumename{
    float: left;
    text-align: center;
    display: inline-block;
    background-color: maroon;
    color: white;
    margin: 0;
    padding: 30px;
    width: 250px;
}

.contact{
    padding-top: 50px;
    float: right;
    display: inline-block;
    text-align: left;

}

.blurb{
    padding: 0%;
    display: inline-block;
    text-align: left;
    border-bottom: 2px dotted maroon;
}

h4{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 6px;
    padding-bottom: 2px;
}

h5{
    margin: 1px;
    padding-bottom: 0;
    font-style: italic;
}

ul{
    margin: 3px;
    padding: 3px;
}

li{
    padding-bottom: 3px;
}